<template>
    <div class="container">
        <h1>День:{{day}}</h1>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <h1>Первый загон</h1>
                <div class="d-flex flex-row flex-wrap">
                    <div v-for="sheep in sheepData.one" class="flex-wrap">
                        <img src="../../../public/img/kisspng-sheep-cartoon-clip-art-sheep-5ab4230a6d9389.4280593015217548904488.jpg"
                             alt="" width="40px">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h1>Второй загон</h1>
                <div class="d-flex flex-row flex-wrap">
                    <div v-for="sheep in sheepData.two" class="flex-wrap">
                        <img src="../../../public/img/kisspng-sheep-cartoon-clip-art-sheep-5ab4230a6d9389.4280593015217548904488.jpg"
                             alt="" width="40px">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm">
                <h1>Третий загон</h1>
                <div class="d-flex flex-row flex-wrap">
                    <div v-for="sheep in sheepData.three" class="flex-wrap">
                        <img src="../../../public/img/kisspng-sheep-cartoon-clip-art-sheep-5ab4230a6d9389.4280593015217548904488.jpg"
                             alt="" width="40px">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <h1>Четвертый загон</h1>
                <div class="d-flex flex-row flex-wrap">
                    <div v-for="sheep in sheepData.four" class="flex-wrap">
                        <img src="../../../public/img/kisspng-sheep-cartoon-clip-art-sheep-5ab4230a6d9389.4280593015217548904488.jpg"
                             alt="" width="40px">
                    </div>
                </div>

            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <button type="submit" class="btn btn-dark w-50" v-on:click ="deleteAllData()">Обнулить</button>
            <button type="submit" class="btn btn-danger w-50" v-on:click ="killSheep()">Убить</button>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                sheepData: {
                    one: '',
                    two: '',
                    three: '',
                    four: ''
                },
                day: 0
            }
        },
        created() {
            this.day = localStorage.day;
            this.fetchSheeps();
            setInterval(this.dayTimer, 10000);
            setInterval(this.killTimer, 100000);
        },

        methods: {
            fetchSheeps() {
                fetch('api/sheeps')
                    .then(res => res.json())
                    .then(res => {
                        this.sheepData.one = res[0].numberOfShip;
                        this.sheepData.two = res[1].numberOfShip;
                        this.sheepData.three = res[2].numberOfShip;
                        this.sheepData.four = res[3].numberOfShip;
                        this.day = localStorage.day;

                    })
            },
            addSheep() {
                fetch('api/sheep/add', {
                    method: 'put'
                });
                this.fetchSheeps();
            },
            killSheep() {
                fetch('api/sheep/kill', {
                    method: 'put',
                });
                this.fetchSheeps();
            },
            deleteAllData() {
                fetch('api/sheep/delete', {
                    method: 'delete',
                });
                localStorage.setItem('day', '0');
                this.fetchSheeps();
            },
            dayTimer() {
                this.day++;
                localStorage.setItem('day', this.day);
                this.addSheep();
            },
            killTimer() {
                this.killSheep();
            }
        }
    }
</script>
